body {
    text-align: center;
    font-family: Helvetica, sans-serif;
}

#dice {
    text-align: center;
    height: 100px;
    width: 300px;
    font-size: 320px;
    
}
#dice:hover {
    cursor: pointer;

}